<div class="body">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">

                <div class="col-12 user-img">
                    <img src="assets/img/face.png">
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="col-12">
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn"><fa-icon [icon]="faSignInAlt"></fa-icon> Login
                    </button>
                </form>

                <div class="row">
                    <div class="col-6 forgot">
                        <a routerLink="/">Recuperar Password</a>
                    </div>
                    <div class="col-6 forgot">
                        <a routerLink="/registration">Registar</a>
                    </div>
                </div>

            </div> <!-- End of Modal Content-->
        </div>
    </div>
</div>